#cart-container{
    width:100vw;
}

.cart-heading{
    text-align: center;
    width: 300px;
    padding: 10px 0;
    color: white;
    margin: 15px auto;
    background-color: #0593b3;
}

.cart-item{
    border: 1px solid;
    background-color: white;
    margin: 10px 0;
}

.cart-items-ul{
    list-style: none;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    width: 94%;
}
.cart-items-li{
    padding: 0 10px;
    flex-basis: 23%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cart-item-ul-2{
    margin: 10px 0;
    font-weight: 100;
}
.cart-items-img{
    height: 100px;
}
#remove{
    position: absolute;
    height: 30px;
    margin-top: 3%;
    margin-right: 10px;
    right: 5px;
    background-color: rgb(247, 82, 82);
    border: none;
    padding: 2px 10px;
    color: azure;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

.total-amount{
    float: right;
    margin-right: 15px;
    font-size: 20px;
}

.cart-empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}